{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <h1>PC Games</h1> <a href="game/create/pc" class="btn btn-primary">Add Game</a>
        {% for pc in pc %}
          <div class="card my-3">
            <div class="card-body">
              <div class="media">
                <img class="align-self-start mr-3" src="{{pc.image}}" alt="{{pc.name}}" style="max-width: 350px;">
                <div class="media-body align-self-center">
                  <small class="font-weight-bold text-muted">{{pc.condition}}</small>
                  <p>Seller: {{pc.user_name}}</p>
                  <h5 class="mt-0">{{pc.name}}</h5>
                  <p>{{pc.description}}</p>
                  <p>${{pc.currency}}</p>
                  <a href="{{url_for('show', id=pc.id)}}" class="btn btn-primary">View Game</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
